.fa{
    position: absolute;
    top: 10px;
    right: 14px;
    z-index: 100;
}
.form-control{
    box-shadow: 0 1.5px 4px 0 rgba(2, 253, 232, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.form-control.is-invalid, .was-validated .form-control:invalid {

    padding-right: 0.75rem;
    background-image: none !important;
}
.bi-shield-lock-fill{
    position: absolute;
    top: 10px;
    right: 14px;
    z-index: 100;
}