<div class="container">
<div class="row justify-content-center mt-2">
  <div class="col-lg-5 bg-light rounded"> <!-- class="text-end" col -->
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      
      <label class="mt-3"><strong>Name</strong></label>
      <div class="input-group">
        <i class="fa-solid fa-user fa"></i>
        <input type="text" class="form-control" id="name"placeholder="Enter Name" formControlName="name" [ngClass]="{'is-invalid' : submitted && f['name'].errors}"> <!-- [formControl]="name" --> 
      </div>  
      <div *ngIf="submitted && f['name'].errors">
        <div *ngIf="f['name'].errors['required']">
          <p class="text-danger">Name required !!!!!</p>
        </div>
      </div>                                                                    

      <label class="mt-3"><strong>Email address</strong></label>
      <div class="input-group"> 
        <i class="fa fa-envelope-o"></i> 
        <input type="email" class="form-control" id="email"placeholder="Enter email" formControlName="email" [ngClass]="{'is-invalid' : submitted && f['email'].errors}"> 
      </div>
      <div *ngIf="submitted && f['email'].errors">
        <div *ngIf="f['email'].errors['required']">
          <p class="text-danger">Email required !!!!!</p>
        </div>
      </div>

      <label class="mt-3"><strong>Password</strong></label>
      <div class="input-group"> 
        <i class="bi bi-shield-lock-fill"></i> 
        <input type="password" class="form-control" id="password"placeholder="Enter Password" formControlName="password" [ngClass]="{'is-invalid' : submitted && f['password'].errors}"> 
      </div>
      <div *ngIf="submitted && f['password'].errors">
        <div *ngIf="f['password'].errors['required']">
          <p class="text-danger">Password required !!!!!</p>
        </div>
      </div>

      <label class="mt-3"><strong>Mobile No</strong></label>
      <div class="input-group">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <input type="tel" class="form-control" id="phone" placeholder="Enter Mobile No" formControlName="mobile" maxlength="10">
      </div>

      <div class="form-group mt-3">
        <label><strong>Date Of Birth</strong></label>
        <input type="date" class="form-control" id="exampleInputPassword1" placeholder="Enter Date of Birth" formControlName="dob" [ngClass]="{'is-invalid' : submitted && f['dob'].errors}">
      </div>
      <div *ngIf="submitted && f['dob'].errors">
        <div *ngIf="f['dob'].errors['required']">
          <p class="text-danger">DOB required !!!!!</p>
        </div>
      </div>

      <div class="col mt-3">
        <label><strong>Gender: </strong></label>
        <input class="form-check-input ms-2" type="radio" name="gender" id="gridRadios1" value="Male" checked formControlName="gender">
        <label class="form-check-label ps-2" >Male</label>
        <input class="form-check-input ms-2" type="radio" name="gender" id="gridRadios2" value="Female" formControlName="gender">
        <label class="form-check-label ps-2">Female</label>  
      </div>

      <div class="mt-3">
        <label class="me-2"><strong>Team: </strong></label>
        <select class="form-control" id="inlineFormCustomSelect" formControlName="team">
          <option value="" selected disabled>Choose...</option>
          <option value="RS">RS</option>
          <option value="LIC">LIC</option>
          <option value="OBS">OBS</option>
        </select>
      </div>

      <!-- <div class="form-group">
        <label class="text-start mt-3"><strong> Skills </strong></label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="HTML:5"/>
        <label class="form-check-label" for="inlineCheckbox1">HTML:5</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="CSS3" />
        <label class="form-check-label" for="inlineCheckbox2">CSS3</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="Bootstrap" />
        <label class="form-check-label" for="inlineCheckbox3">Bootstrap</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="Angular"/>
        <label class="form-check-label" for="inlineCheckbox3">Angular</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="SpringBoot" />
        <label class="form-check-label" for="inlineCheckbox3">SpringBoot</label>
      </div> -->

      <div class="mt-3 mb-3">
        <!--  -->
        <!-- <button type="submit" class="btn btn-primary mt-2" (click)="submit();updateName();">Submit</button> -->
        <button type="submit" class="btn btn-primary">Submit</button>   <!--(click)="submit();"-->
        <!-- <button type="button" class="btn btn-info ms-5" (click)="fetch()" >Fetch</button> -->
        <!-- <button type="button" class="btn btn-success float-end" (click)="updateName()" >Update</button> (click)="updateName();" -->
      </div>
    
      <!-- <p class="text-start mt-3"><strong>Value: </strong>{{ name.value }}</p> -->
    </form>
  </div>
</div>
</div>
